- name: add ssh key for user alla
  authorized_key:
       user: alla
       key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMC8gqZwBlDpJ6nvEMECN1xAkDnUzVuvYLgpDvU3azij ansible"
- name: generate key from template
  tags: ssh
  template:
      src: "{{ ssh_template_file }}"
      dest: /etc/ssh/sshd_config
      owner: root
      group: root
      mode: 0644
  notify: restart_sshd
